.left
    text-align left !important

.center
    text-align center !important

.right
    text-align right !important

textarea.no-resize
    resize none

.navbar
	margin-bottom 0

body html
	height 100%
	width 100%

.angular-google-map-container
	height 100%
	width 100%
	position absolute

.middle
	display table
	width 50%
	margin-left auto
	margin-right auto

.container
	width 50%
	padding-left 0
	padding-right 0