nav.navbar.navbar-inverse.navbar-embossed(role='navigation')
	div.navbar-header
		button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01')
			span.sr-only Toggle navigation
		a.navbar-brand(href="#") AngularJS
	div.collapse.navbar-collapse#navbar-collapse-01
		ul.nav.navbar-nav.navbar-right
			li
				a(href='#fakelink')
					| Menu Item
					span.navbar-unread 1
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown')
					| Messages
					b.caret
				span.dropdown-arrow
				ul.dropdown-menu
					li: a(href='#') Action
					li: a(href='#') Another action
					li: a(href='#') Something else here
					li.divider
					li: a(href='#') Separated link

div(ui-view='content')