doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
        title Angular
        link(rel='stylesheet', href='bower/flat-ui/css/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='bower/flat-ui/css/flat-ui.min.css')
        link(rel='stylesheet', href='css/styles.css')
    body(ng-app='app')
        
        div(ui-view)

        script(src='bower/flat-ui/js/vendor/jquery.min.js')
        script(src='bower/flat-ui/js/flat-ui.min.js')

        script(src='bower/angular/angular.min.js')
        script(src='bower/angular/angular-ui-router/angular-ui-router.min.js')
        script(src='bower/angular/angular-route/angular-route.min.js')
        script(src='js/ng.js')